body {
  background-color: black;
  width: 800px;
}

/*
p {
  color: lightgray;
  text-align: center;
}
*/

p {
  font-family: "COURIER NEW";
  color: BLACK;
}


h1 {
  color: lightgray;
  text-align: center;
}

pre {
  color: white;
  padding: 40px;
  
}